<header>
 <h1>Jason et les argonautes</h1>
</header>

<!-- Main section -->
<main>
  <div data-controller="insert-in-list">
    <div class="card-ctr">
      <img src="https://images.pexels.com/photos/3264723/pexels-photo-3264723.jpeg" alt="greece" height= "350", width="250">
      <div class="card-content">
          <!-- New member form -->
          <%= simple_form_for [@argonaute] do |f| %>
            <h2><%= f.label :name %></h2>
            <p></p><%= f.input_field :name %>
            <p></p><%= f.button :submit, "Ajouter un argonaute", id:"btn-create" %>
          <% end %>

    <!-- Member list -->
        <h2>Membres de l'équipage</h2>
        <div data-insert-in-list-target="names">
          <section class="member-list" id="list">
            <% @argonautes.each do |argonaute| %>
              <div class="member-item">
                <p><%= argonaute.name %></p>
              </div>
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <img src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png" alt="Wild Code School logo"/>
  <p>Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
</footer>
